
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.bodyindex {
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/21015287-sombrio-neon-hexagono-jogos-fundo-vetor.jpg);
    margin: 0%;
    padding: 0%;
}

.container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    text-align: center;
  
}


.fonte {
    color: white; 
    text-align: center;  
    font-family: "Pixelify Sans", sans-serif;
} 

a {
    color: white;
}

a:hover {
    color: lightgray; 
}


.zeldastyle {
    background-image: url(https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/wiiu_14/SI_WiiU_TheLegendOfZeldaBreathOfTheWild_image1600w.jpg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quadrado {
    border: 10px solid  #e49bc3;
    padding: 20px;
    width: 300px;
    height: 220px;
    background-color:  #e49bc3;
    box-shadow: 5px 5px 5px #e49bc3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hollowstyle {
    background-image: url(https://stagehistory.files.wordpress.com/2017/05/85ee63e70b446baa907779f78f6690ce_original.gif);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.quadrado2 {
    border: 10px solid  #352d42;
    padding: 20px;
    width: 300px;
    height: 200px;
    background-color:  #352d42;
    box-shadow: 5px 5px 5px #352d42;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.haakstyle {
    background-image: url(https://play-lh.googleusercontent.com/cNsNjV5qh0Lv_p-qm_GZ0FiO0GHlDEr6E2OzW8TBZB6mlRKqtZS4ppBGdEh4qm8eYw=w526-h296-rw);
}

.quadrado3 {
    border: 10px solid  #d15a5a;
    padding: 20px;
    width: 300px;
    height: 250px;
    background-color:  #d15a5a;
    box-shadow: 5px 5px 5px #d15a5a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.stylenota {
    background-image: url(https://i.pinimg.com/originals/64/ae/b4/64aeb489b55e37045143da45b770d2ea.gif);
}

.quadrado4 {
    border: 10px solid #333333;
    padding: 20px;
    width: 300px;
    height: 190px;
    background-color: #333333;
    box-shadow: 5px 5px 5px #333333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

